*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
.links{
  display: flex;
  flex-direction: row;
  background-color: rgb(182, 132, 132);
  gap: 30px;
  height: 40px;
  padding-left: 20px;
}